* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f2f5f9;
    color: #333;
}


.header {
    
    background-color: #12663f;
    color: white;
    text-align: center;
    padding: 30px 10px;
}


.navbar {
    background-color: #2c3e50;
    text-align: center;
    padding: 12px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
}

.navbar a:hover {
    color: #99f2c8;
}


.main {
    text-align: center;
    padding: 60px 20px;
    background-color: white;
}

.main h2 {
    font-size: 28px;
    margin-bottom: 10px;
}


.section {
    background-color: white;
    margin: 30px auto;
    padding: 40px;
    width: 90%;
    max-width: 900px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.section h2 {
    margin-bottom: 15px;
    color: #1f4037;
}


.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
}

.card {
    background-color: #e8f8f5;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
}


.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-form input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


.btn {
    padding: 12px;
    background-color: #1f4037;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #145a32;
}
.video {
    display: block;
    /*margin: 30px auto;
    max-width: 90%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);*/
    width: 600px;
    height: 500px;
    video-fit: cover;
    
    object-fit: cover;

}
.audio {
    display: block;
    margin: 20px auto;
}

.video-login-container {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
    width: 90%;
}

.login-side {
    width: 40%;
}

.video {
    width: 60%;
    height: 350px;
    border-radius: 10px;
}




.learning-container {
    background: white;
    margin: 30px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}



.learning-section h2 {
    color: #2c3e50;
    text-decoration: underline;
    margin-bottom: 20px;
}
.learning-section h3 {
    margin-bottom: 10px;
}

.learning-section ul {
    list-style-type: none;
    padding-left: 0;
}

.learning-section li {
    margin: 8px 0;
}

.learning-section a {
    text-decoration: none;
    color: #5832c0;
    font-weight: bold;
}

.learning-section a:hover {
    text-decoration: underline;
}

.tutorial-row {
    display: flex;
    gap: 40px;
    justify-content:center;
}


.tutorial-box {
     flex: 1;
    max-width: 420px;
}


.documentation {
    text-align: center;
    margin-top: 40px;
}
.learning-frame {
    width: 100%;
    height: 500px;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin-top: 15px;
}



