* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f2f5f9;
    color: #333;
}


.header {
    
    background-color: #12663f;
    color: white;
    text-align: center;
    padding: 30px 10px;
}


.navbar {
    background-color: #2c3e50;
    text-align: center;
    padding: 12px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
}

.navbar a:hover {
    color: #99f2c8;
}


.main {
    text-align: center;
    padding: 60px 20px;
    background-color: white;
}

.main h2 {
    font-size: 28px;
    margin-bottom: 10px;
}


.section {
    background-color: white;
    margin: 30px auto;
    padding: 40px;
    width: 90%;
    max-width: 900px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.section h2 {
    margin-bottom: 15px;
    color: #1f4037;
}


.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
}

.card {
    background-color: #e8f8f5;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
}


.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-form input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


.btn {
    padding: 12px;
    background-color: #1f4037;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #145a32;
}


